{% extends "base.html" %}
{% load static %}

{% block scripts%}
    <script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
Home
{% endblock title %}

{% block page_content %}
<div class="modal fade" id="startQuizModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<!-- Vertically centered modal -->
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ready to Start?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modal-body-confirm">

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
              <button type="button" id="start-button" class="btn btn-success">Yes</button>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
			<h3>QuizMaster - Engage, Learn, Compete!</h3>
            <h5>Instructions:</h5>
            <ul>
                <li>Select a quiz from the list below to begin.</li>
                <li>Please note all quizes are timed. Once time is up, the quiz will be automatically submitted and scored!</li>
                <li>Once you click on yes, in the confirmation window, the quiz will automatically start and time will countdown</li>
                <li>Once started, please don't click on GoBack otherwise your quiz will not be scored</li>
            </ul>
            <h5>Good Luck!</h5>
            <p> <br></p>
        </div>
<!--<div class="h1"> Quiz List </div>-->
        <hr>
        <div class="card card-body">
			<table class="table">
				<tr>
					<th>Quiz Name</th>

				</tr>
                {% for obj in object_list %}
                <tr>
                    <td>
                        <button
                        class="btn btn-link modal-button"
                        data-pk="{{obj.pk}}"
                        data-quiz="{{obj.name}}"
                        data-questions="{{obj.no_of_questions}}"
                        data-difficulty="{{obj.difficulty}}"
                        data-time="{{obj.time}}"
                        data-pass="{{obj.pass_mark}}"
                        data-bs-toggle="modal"
                        data-bs-target="#startQuizModal">
                        {{obj.name}}
                        </button>
                    </td>

                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div>

{% endblock page_content %}