<div class="row">
    <div class="col">
        <div class="com-md">
            <div class="card text-center text-white mb-3" id="no-of-quizes">
                <div class="card-header">
                    <h5 class="card-title">No of Quizes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="com-md">
            <div class="card text-center text-white mb-3" id="quizes-completed">
                <div class="card-header">
                    <h5 class="card-title">No of Quizes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="com-md">
            <div class="card text-center text-white mb-3" id="quizes-not-answered">
                <div class="card-header">
                    <h5 class="card-title">No of Quizes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

</div>